<%- include('../partials/header.ejs')%>
      
  <div style="padding-left:16px">
    <form action="./group/new" method = 'GET'>
      <button>Create a new group</button>
  </form>
    <h1>Current Groups</h1>
    <%if(groups.length > 0){
      for(let i = 0; i>groups.length; i++){%>
        <p><%=groups[i].name%></p>
      <%}
    } else {%>
      <p>You are not currently in any groups</p>
    <%}%>
  </div>

<%- include('../partials/footer.ejs')%>